@import'./node_modules/reset-css/sass/reset';
@import'~bootstrap/scss/bootstrap.scss';
@import'./fonts.scss';
@import'./mobile.scss';
@import'./mobile_and_tablet_and_other.scss';

$color-hover-text: #c7b299;

@mixin title-medium($size) {
    font-family: 'Raleway';
    font-size: $size;
    font-weight: 500;
}

@mixin title-extra($size) {
    font-family: 'Raleway';
    font-size: $size;
    font-weight: 800;
}

@mixin title-semibold($size) {
    font-family: 'Raleway';
    font-size: $size;
    font-weight: 600;
}

@mixin waxcom-logo-font($size) {
    font-size: $size;
    font-family: 'Raleway';
    font-weight: normal;
}

@mixin montserrat($size: 14px, $weight: normal){
    font-family: 'Montserrat';
    font-size: $size;
    font-weight: $weight;
}

.default-option{
    @include montserrat(14px, 300);
    color: #8c8c8c;
}

.section-title{
    @include title-semibold(30px);
    text-transform: capitalize;
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.section-description{
    text-align: center;
    color: #8c8c8c;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
}


.section-title-alt {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.section-description-alt{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #615855;
    margin-bottom: 30px;
}


.btn-start {
    @include title-extra(14px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding: 0 35px;
    background-color: #998675;
    box-shadow: 0 3px #736357;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    box-sizing: border-box;
    &:hover, &:active, &focus{
        color:#fff;
        border-color: #998675;
    }
}


.more-link{
    color: $color-hover-text;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    &:hover{
        color: $color-hover-text;
        text-decoration: none;
        &::after{
            border-left-color: $color-hover-text;
        }
    }
    &::after{
        content: '';
        display: inline-block;
        margin-left: 22px;
        width: 0;
        height: 0;
        top: -10px;
        left: 20px;
        border-left: 5px solid $color-hover-text;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}

/*----------  header  ----------*/

header {
    height: 1024px;
    background-color: #cecece;
    background-image: url(/src/styles/images/header-bg.jpg);
    background-size: cover;
}

.head {
    margin-bottom: 50px;
    margin-bottom: 275px;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 15px;
    height: 100%;
    align-items: center;
    color: #fff;
    .navbar-brand{
        @include waxcom-logo-font(34px);
        align-self: center;
        color: inherit;
    }
    .collapse {
        justify-content: flex-end;
    }
}

.nav-link {
    color: inherit;
    text-transform: capitalize;
    padding: 0;
}

.nav-link:hover {
    color: $color-hover-text;
}

.btn-bar {
    display: flex;
    .nav-link:first-child {
        margin: 0 0 0 10px;
    }
}

.carousel-item-content {
    color: #fff;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item-subtitle{
    @include title-medium(36px);
}

.carousel-item-title{
    @include title-extra(52px);
    text-align: center;
}

.carousel-item-text{
    font-size: 16px;
    line-height: 24px;
    height: auto;
    flex: 0 0 30%;
}

.carousel-indicators {
    bottom: -335px;
    .header-slider-indicator {
        border-radius: 50%;
        background-color: #979594;
        opacity: 0.502;
        width: 11px;
        height: 11px;
    }
    .active {
        border: 2px solid #d3c1ad;
        background-color: unset;
    }
}

.carousel-control-prev-icon,  .carousel-control-next-icon{
    background-image: none;
}

.carousel-control-prev, .carousel-control-next{
    .icon-slider-left, .icon-slider-right {
        color: #a3a2a0;
    }
    &:hover{
        .icon-slider-left, .icon-slider-right {
            color: #d3c1ad;
        }
    }
}

.icon-slider-left, .icon-slider-right {
    color: #a3a2a0;
    font-size: 73px;
    font-weight: bold;
    &:hover{
        color: #d3c1ad;
    }
}

.icon-slider-right {
    margin-right: 35px;
} 

/*----------  services  ----------*/

.services {
    padding-top: 72px;
    padding-bottom: 72px;
}

.services-item {
    @include title-semibold(22px);
    color: #555;
    position: relative;
    &:hover {
        color: $color-hover-text;
        .services-item-title{
            color: inherit;
        }
        &::after{
            background-color: $color-hover-text;
        }
    }
    &::after{
        position: absolute;
        bottom: -30px;
        right: calc(50% - 35px);
        content: '';
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
    }
}

.services-item-title {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #555;
}

.services-item-logo {
    font-size: 49px;
    margin-bottom: 20px;
}

.services-item-text {
    @extend .default-option;
    color: #8c8c8c;
    line-height: 24px;
}


/*----------  ideas  ----------*/

.ideas {
    padding-top: 75px;
    background-color: #fbfaf8;
    .row {
        justify-content: center;
        text-align: center;
    }
}

.ideas-title {
    @include title-semibold(30px);
    margin-bottom: 25px;
    color: #555;
}

.ideas-text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 28px;
}

.ideas-image{
    height: 400px;
    width: 100%;
    background: url(/src/styles/images/browser-center.png) no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

/*----------  theme-box  ----------*/

.theme-box {
    padding: 45px 0;
    background-image: linear-gradient(to right, rgb(33,27,25) 0%, rgb(78,52,39) 100%);   
}

.theme-box-content{
    align-items: center;
}

.theme-title{
    @include waxcom-logo-font(28px);
    color: #fff;
}

.theme-description {
    color: #615855;
    font-size: 18px;
}

.alter-text-color{
    color: $color-hover-text;
}

/*----------  latest projects  ----------*/

.latest-projects{
    padding: 82px 0;
}

.catigories-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.latest-projects-content{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-categories{
    display: flex;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    height: 32px;
    box-sizing: border-box;
    align-items: center;
    padding: 11px 23px;
    color: #8c8c8c;
    text-decoration: none;
    margin: 0 5px;
    text-transform: capitalize;
    &:hover{
        color: #fff;
        background-color: #998675;
        border-color: #998675;
        text-decoration: none;
    }
}

.card-title{
    @include title-medium(20px);
}

.card{
    border: none;
    background-color: #fbfaf8;
    margin-bottom: 30px;
    .card-img-top{
        border-radius: 0;
    }
    .card-body{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -10px;
            left: 20px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 10px solid #fbfaf8;
        }
        .card-title{
            color: $color-hover-text;
        }
        .card-text{
            color: #d1d1d1;
        }
    }
    &:hover{
        .card-mask{
            opacity: 1;
        }
        .card-body{
            z-index: 9999;
            background-color: #362f2d;
            &:before {
                border-bottom: 10px solid #362f2d;
            }
            .card-title{
                color: #fff;
            }
            .card-text{
                color: $color-hover-text;
            }
        }
    }
}

.card-mask{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(17, 17, 17, 0.7);
    transition: all 0.4s ease-in-out;
    padding-top: 105px;
    .card-mask-link{
        font-size: 25px;
        display: block;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &:first-child{
            margin-right: 30px;
        }
        &:hover{
            color: $color-hover-text;
        }
    }
    .icon-link, .icon-lupa{
        color: inherit; 
    }
}

.wrap-projects-item{
    margin-bottom: 40px;
}


/*----------  video-presentation  ----------*/

.video-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    background-image: url(/src/styles/images/video-bg.jpg);
    background-size: cover;
    color: #fff;
    .section-title{
        @include title-medium(30px);
        color: #fff;
        margin-bottom: 10px;
    }
    .section-description {
        @include montserrat(14px, 300);
        line-height: 28px;
        color: inherit;
    }
    .timer{
        @include montserrat;
        color: $color-hover-text;
    }
}

.play-video {
    margin-bottom: 45px;
}

/*----------  excellent  ----------*/

.excellent {
    color: #8c8c8c;
    justify-content: flex-start;
}

.desktop-block{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/src/styles/images/excellent-mobile-bg.png) no-repeat;
    background-position: right bottom;
}

.excellent-content-wrap{
    font-size: 16px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 195px 0 175px 0;
    .section-title{
        color: #555;
    }
    .section-description{
        text-align: left;
    }
}

.excellent-list{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.excellent-list-item{
    background: url(/src/styles/images/icon-dot-item.svg) no-repeat 0 6px;
    padding-left: 44px;
    line-height: 32px;
}


/*----------  counters  ----------*/

.counters{
    padding: 68px 0 88px 0;
    background-image: linear-gradient(to right, rgb(33,27,25) 0%, rgb(78,52,39) 100%); 
}

.counters-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-hover-text;
}

.counters-item-icon{
    font-size: 44px;
}

.count{
    @include montserrat(48px, 200);
    color: #fff;
    margin-bottom: 10px;
}

.counters-item-title{
    font-size: 14px;
    text-transform: uppercase;
    &::after{
        position: absolute;
        bottom: -30px;
        right: calc(50% - 15px);
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
    }
}








/*----------  posts  ----------*/

.posts{
    padding: 80px 0 72px 0;
}

.post-item{
    position: relative;
    &:hover{
        .post-item-button-wrap{
            opacity: 1;
        }
        .post-date-day{
            background-color: $color-hover-text;
        }
        .post-date-month{
            background-color: #a48d72;
        }
        .card-body {
            
        .card-title{
            color: $color-hover-text;
        }
        .card-text{
            color: #fff;
        }
        }
    }
    .card-body{
        .card-title {
            color: #555;
        }
        .card-text{
            color: #8c8c8c;
            margin-bottom: 22px;
        }
        &::before{
            display: none;
        }
    } 
    
    .carousel-indicators {
        bottom: 0;
        align-items: center;
        .post-slider-indicator {
            border-radius: 50%;
            background-color: #a0a0a0;
            opacity: 0.502;
            width: 11px;
            height: 11px;
            box-sizing: content-box;
        }
        .active {
            border: 2px solid #d3c1ad;
            background-color: unset;
        }
    }
}

.post-date{
    left: 35px;
    top: 20px;
    color: #fff;
    position: absolute;
    border-radius: 3px;
    z-index: 9999;
    text-align: center;
}

.post-date-day{
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    padding: 9px 12px;
    font-size: 24px;
}

.post-date-month{
    font-family: 'Roboto';
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    padding: 7px 14px;
    font-size: 12px;
}

.post-item-button-wrap{
    opacity: 0;
    display: flex;
    justify-content: center;
    .btn{
        font-size: 22px;
        padding: 0;
        margin: 0 4px;
        color: #d1d1d1;
        &:hover{
            color: $color-hover-text;
        }
    }
}


/*----------  partners  ----------*/

.partners{
    height: 489px;
    background: url('/src/styles/images/partners-bg.jpg') no-repeat;
    background-size: cover;
    padding: 135px 0;
}

.upp{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partners-item{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*----------  footer  ----------*/

.footer{
    background-color: #191919;
    padding: 75px 0;
    .more-link {
        color: #d1d1d1;
        &::after{
            border-left: 5px solid #d1d1d1;
        }
        &::hover{
            color: $color-hover-text;
            &::after{
                border-left-color: $color-hover-text;
            }
        }
    }
}

.footer-item{
    color: #555;
    font-size: 14px;
    line-height: 24px;
}

.logo-about-wrap{
    @extend .navbar-brand;
    @include waxcom-logo-font(34px);
    color: #fff;
    margin-bottom: 23px;
    text-transform: capitalize;
}

.footer-item-text{

    margin-bottom: 33px;
}

.footer-item-title{
    font-family: 'Raleway';
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    padding: 25px 0 7px 0;
}

.footer-item-post{
    padding: 20px 0;
    border-bottom: 1px solid #252525;
    &:last-child{
        border: none;
    }
    &:hover{
        .footer-date-post{
            color: #fff;
        }
        .footer-text-post{
            color: $color-hover-text;
        }
    }
}

.footer-date-post{
    color: #363636;
    font-size: 12px;
    line-height: 20px;
}

.footer-text-post{
    margin: 0;
}

.twitter-hash{
    color: #00bff3;
}

.footer-link{
    color: #959595;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: #959595;
    }
}

.dribbble-widget{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

.dribbble-image{
    width: 120px;
    margin: 0 10px 10px 0;
    &:nth-child(2n){
        margin-right: 0;
    }
}


/*----------  copyright  ----------*/


.copyright-section{
    background-color: #111;
    padding: 45px 0;
    color: #555;
    font-size: 13px;
    line-height: 20px;
}

.copyright-content{
    justify-content: space-between;
}

.copy-nav{
    display: flex;
    flex-direction: row;
}

.copy-nav-left{
    margin-right: 90px;
}

.copy-link{
    color: inherit;
    &:hover{
        color: $color-hover-text;
        text-decoration: none;
    }
}

.copy-nav-margin{
    margin-right: 13px;
    &::after{
        content: '|';
        color: #252525;
        font-size: 13px;
        margin-left: 12px;
    }
}


@import'./tablet.scss';
@import'./mobile.scss';
