@import'./node_modules/reset-css/sass/reset';
@import'~bootstrap/scss/bootstrap.scss';
@import'./fonts.scss';
@import'./mobile.scss';
$main-font-family: 'Open Sans';
$color-hover-text: #c7b299;

/*----------  header  ----------*/

header {
    height: 1024px;
    background-color: #cecece;
    background-image: url(/src/styles/images/header-bg.jpg);
    background-size: cover;
}

.head {
    margin-bottom: 50px;
    margin-bottom: 275px;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    height: 100%;
    align-items: center;
    color: #fff;
    .navbar-brand{
        font-size: 34px;
        align-self: center;
        color: inherit;
    }
    .collapse {
        justify-content: flex-end;
    }
}

.nav-link {
    color: inherit;
    text-transform: capitalize;
    padding: 0;
}

.nav-link:hover {
    color: $color-hover-text;
}

.btn-bar {
    display: flex;
    .nav-link:first-child {
        margin: 0 0 0 10px;
    }
}

.carousel-item-content {
    color: #fff;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-indicators {
    bottom: -335px;
    .header-slider-indicator {
        border-radius: 50%;
        background-color: #979594;
        opacity: 0.502;
        width: 11px;
        height: 11px;
    }
    .active {
        border: 2px solid #d3c1ad;
        background-color: unset;
    }
}

.carousel-control-prev-icon,  .carousel-control-next-icon{
    background-image: none;
}

.icon-slider-left, .icon-slider-right {
    font-size: 73px;
    font-weight: bold;
}

.icon-slider-right {
    margin-right: 35px;
}

.btn-start {
    display: block;
    text-align: center;
    line-height: 40px;
    height: 53px;
    background-color: #998675;
    //background: linear-gradient(to bottom, #998675 0%,#998675 97%, #736357 97%,#736357 100%); 
    box-shadow: 0 3px #736357;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    box-sizing: border-box;
    &:hover, &:active, &focus{
        color:inherit;
        border-color: #998675;
    }
}
 

/*----------  services  ----------*/

.services {
    padding-top: 72px;
    padding-bottom: 72px;
}

.services-item {
    color: #555;
    position: relative;
    &:hover {
        color: #c7b299;
        .services-item-title{
            color: inherit;
        }
        &::after{
            background-color: #c7b299;
        }
    }
}

.services-item::after{
    position: absolute;
    bottom: -30px;
    right: calc(50% - 35px);
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.services-item-title {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #555;
}

.services-item-logo {
    font-size: 49px;
    margin-bottom: 20px;
}

.services-item-text {
    color: #8c8c8c;
    font-size: 12px;
    line-height: 24px;
}


/*----------  ideas  ----------*/

.ideas {
    background-color: #fbfaf8;
    .row {
        justify-content: center;
        text-align: center;
    }
}

.ideas-text {}


/*----------  theme-box  ----------*/

.theme-box {
    padding: 45px 0;
    background-image: linear-gradient(to right, rgb(33,27,25) 0%, rgb(78,52,39) 100%);   
}

.theme-box-content{
    align-items: center;
}

.alter-text-color{
    color: #c7b299;
}

.section-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.section-description{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #615855;
    margin-bottom: 30px;
}


/*----------  latest projects  ----------*/

.latest-projects{
    padding: 82px 0;
}

.catigories-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.latest-projects-content{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .section-title {
        color: #ccc;
        text-transform: capitalize;
    }
}

.btn-categories{
    display: flex;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    height: 32px;
    box-sizing: border-box;
    align-items: center;
    padding: 11px 23px;
    color: #8c8c8c;
    text-decoration: none;
    margin: 0 5px;
    text-transform: capitalize;
    &:hover{
        color: #fff;
        background-color: #998675;
        border-color: #998675;
        text-decoration: none;
    }
}

.card{
    border: none;
    background-color: #fbfaf8;
    margin-bottom: 30px;
    .card-img-top{
        border-radius: 0;
    }
    .card-body{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -10px;
            left: 20px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 10px solid #fbfaf8;
        }
        .card-title{
            color: #c7b299;
        }
        .card-text{
            color: #d1d1d1;
        }
    }
    &:hover{
        .card-mask{
            opacity: 1;
        }
        .card-body{
            &:before {
                border-bottom: 10px solid #362f2d;
            }
            z-index: 9999;
            background-color: #362f2d;
            .card-title{
                color: #fff;
            }
            .card-text{
                color: #c7b299;
            }
        }
    }
}

.card-mask{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(17, 17, 17, 0.7);
    transition: all 0.4s ease-in-out;
    padding-top: 105px;
    .card-mask-link{
        display: block;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &:first-child{
            margin-right: 30px;
        }
        &:hover{
            color: #c7b299;
        }
    }
    .icon-link, .icon-lupa{
        color: inherit; 
    }
}

.wrap-projects-item{
    margin-bottom: 40px;
}