@media only screen and (max-width: 575px) {
    .head {
        padding: 30px 0 0 0;
        margin-bottom: 100px;
    }

    .header{
        height: 680px;
    }


    .carousel-item-subtitle{
        font-size: 24px;
    }

    .carousel-item-title{
        font-size: 36px;
    }

    .ideas-image{
        height: 250px;
        background-size: contain;
    }

    .theme-box-content{
        display: flex;
        text-align: center;
        justify-content: center;
        .btn{
            width: unset;
        }
    }

    .theme-description{
        margin-bottom: 40px;
    }

    .wrap-projects-item{
        padding: 0 15px;
    }

    .video-presentation{
        min-height: 450px;
    }
    
    .posts{
        .carousel-item{
            .posts-carousel-image{
                width: 100%;
            }
            // text-align: center;
        }
    }

    .partners{
        display: none;
    }

     
    .footer{
        padding-bottom: 40px;
    }

    .widget{
        text-align: center;
    }

    .dribbble-widget{
        justify-content: center;
        padding: 30px 100px;
    }

    .dribbble-image{
        &:nth-child(2n){
            margin-right: 10px;
        }
    }

    .copyright-content{
        justify-content: center;
        .copy-nav{
            margin-bottom: 15px;
        }
    }
}