$icomoon-font-family: "bychaka" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow: "\e900";
$icon-blog: "\e901";
$icon-cart: "\e902";
$icon-client: "\e903";
$icon-coffe: "\e904";
$icon-custom: "\e905";
$icon-dev: "\e906";
$icon-heart: "\e907";
$icon-left-button: "\e908";
$icon-link: "\e909";
$icon-lounched: "\e90a";
$icon-lupa: "\e90b";
$icon-marketing: "\e90c";
$icon-pen: "\e90d";
$icon-play: "\e90e";
$icon-right-button: "\e90f";
$icon-search: "\e910";
$icon-slider-left: "\e911";
$icon-slider-right: "\e912";

